<head>
    <title>Customer</title>
</head>
<body>
    <h1>Welcome to E-Pharmacy</h1>
    <h2>Shop Here</h2>
    <div>
        <form action="/customer/home" method="POST">
        </form>
    </div>
</body>
