<div>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" type="text/css" href="/css/welcome.css">
    </head>
    <div>
        <body>
            <div>
                <h1 class="title">E-Pharmacy</h1>
            </div>
            <div>
                <h3 id="ask">Who you are?</h3>
            </div>
            <div>
                <ul class="operations">
                    <li><a href="/customer">Customer</a></li>
                    <li><a href="/medicalstore">Medical Store</a></li>
                    <li><a href="/deliveryboy">Delivery Boy</a></li>
                </ul>
                <a href="/customer"><img src="/images/1.jpg" alt="customer"></a>
                <a href="/medicalstore"><img src="/images/2.jpg" alt="medicalstore"></a>
                <a href="/deliveryboy"><img src="/images/3.jpg" alt="deliveryboy"></a>
            </div>
            
        </body>
    </div>
    
</div>
