<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to our website</h1>
    <div>
        <h6>Who you are?</h6>
        <ul>
            <li><a href="/customer">Customer</a></li>
            <li><a href="/medicalstore">Medical Store</a></li>
            <li><a href="/deliveryboy">Delivery Boy</a></li>
        </ul>
    </div>
</body>